* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background-color: #252525;
    color: white;

}
h1 { 
    font-size: 48px;
}
h2 {
    color: #E7FF00;
}
h3 { 
    color: #808080;
}
em {
    color: black;
}
img {
    height: auto;
    width: 500px;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
}
.front-img {
    height: auto;
    width: 850px;
}
button {
    font-size: 25px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E7FF00;
    border-radius: 20px;
}

/*button details*/
a:link { 
    text-decoration: none;
    color: #000000;
 }
a:visited { 
    text-decoration: none;
    color: #000000;
 }
a:hover { 
    text-decoration: none;
    color: white; 
}
a:active { 
    text-decoration: none; 
}

span {
    display:inline-block;
    margin: 40px;
    padding: 30px;
    background-color: #E7FF00;
    border-radius: 20px;
}